body {

    background-color: white;

}



.container {
    display: flex;
    flex-wrap: wrap; 
    /* wrap our cells to get the 3x3 layout */
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 1px solid black

}

.cell {
    width: 100px;
    height: 100px; 
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    box-sizing: border-box; 
    /* this keeps each cell from extending the rows */
    cursor: pointer;
    
}



.player-1 {
    background-color: red;
}

.player-2 {
    background-color: blue;
}


.stat-container {
    display: flex;
    flex-wrap: wrap;
    background-color: red;


    
}

.stats-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr) ;
    gap: 10px;
    justify-items: center;

}